@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.nav ul{
    display: flex;
    text-decoration: none;
}
.nav ul li{
    text-decoration:none;
    list-style: none;
    padding: 10px;
}

.nav{
    box-shadow: 3px 2px 10px rgba(0.2, 0.2, 0.4, 0.1);
}
a{
    text-decoration: none;
}

.flexjs{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center;
}

a.button{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 7px;
    color: white;
}